<footer>
  <div class="container ">
    <div class="row">
      <div class="col-md-12">
        <div class="social-links">
          <a class="instagram" href="">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
          <a class="facebook" href="">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a class="youtube" href="">
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </a>
          <a class="twitter" href="">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a class="pinterest" href="">
            <i class="fa fa-pinterest" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="footerMenu">
          <ul>
            <h5>Quick Links</h5>
            <li>Cafe menu</li>
            <li>Cafe Finder/ Cafe Locator</li>
            <li>The Square</li>
            <li>Customer Care</li>
          </ul>
          <ul>
            <h5>Cafe Menu</h5>
            <li>What's New</li>
            <li>Food</li>
            <li>Beverages</li>
            <li>Combos</li>
            <li>Home Delivery</li>
            <li>Nutritional Info</li>
          </ul>
          <ul>
            <h5>Shop</h5>
            <li>Coffee Mugs & Cups</li>
            <li>Coffee Makers & Wakecup</li>
            <li>Coffee Powders</li>
            <li>Gifts</li>
          </ul>
          <ul>
            <h5>Business</h5>
            <li>Lease Enquiry</li>
            <li>Advertise With Us</li>
            <li>Coffee Vending Machine</li>
            <li>Outdoor Catering Service</li>
            <li>Contact Us</li>
          </ul>
          <ul>
            <h5>About Us</h5>
            <li>Our Story</li>
            <li>News & Events</li>
            <li>Foundation</li>
            <li>Careers</li>
            <li>Contact Us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="copyRight">
    <p>© Cafe Coffee Day. All rights reserved.</p>
  </div>
</footer>
