<section class="main1">
  <div class="col-md-4 mainImage mainImage1">
    <img src="../../assets/Images/mainImage1.gif" alt="" />
  </div>
  <div class="col-md-4 mainImage mainImage2">
    <img src="../../assets/Images/mainImage2.gif" alt="" />
  </div>
  <div class="col-md-4 mainImage mainImage3">
    <img src="../../assets/Images/mainImage3.gif" alt="" />
  </div>
</section>
<section class="main2">
  <div class="col-md-4 mainImage mainImage4">
    <div class="mainImage4Text">
      <img src="../../assets/Images/mainImage4.png" class="image4" alt="" />
      <h1>
        Appsolutely
        <span>rewarding</span>
        app!
      </h1>
    </div>
  </div>
  <div class="col-md-4 mainImage mainImage5">
    <img src="../../assets/Images/mainImage5.png" alt="" />
  </div>
  <div class="col-md-4 mainImage mainImage6">
    <img src="../../assets/Images/mainImage6.jpg" alt="" />
  </div>
</section>
